<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mycompany.myfirstapp" >

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="EntryApp"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MyActivity"
            android:label="EntryApp" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".TicketList"
            android:label="@string/title_activity_ticket_list" >
        </activity>
        <activity
            android:name=".FanSelectedTicket"
            android:label="@string/title_activity_fan_selected_ticket" >
        </activity>
        <activity
            android:name=".ValidatedTicket"
            android:label="@string/title_activity_validated_ticket" >
        </activity>
    </application>

</manifest>
